.type-1287 {
  border: none;
  height: auto;
}
.type-1287 h2 {
  font-weight: bold;
}
.type-1287 .right-column {
  float: right;
  width: 40%;
}
.type-1287 .right {
  width: 50%;
  height: auto;
}
.type-1287 .left-column {
  padding: 80px;
  float: left;
  width: 60%;
}
.type-1287 .btn1 {
  border: 1px solid #57bc54;
  background: #57bc54;
  color: #fff;
  width: 25;
  margin-left: 15px;
}
.type-1287 .btn2 {
  border: 1px solid #cecece;
  background: #cecece;
  color: #fff;
}
.type-1287 .btn:hover {
  background: #abf36c;
}
.type-1287 header {
  height: 420px;
}
.type-1287 header img {
  width: 100%;
  height: 420px;
}
.type-1287 header .content-slide-show {
  position: absolute;
  top: 10%;
  color: #fff;
}
.type-1287 header .content-slide-show .sub-title {
  font-size: 32px;
}
.type-1287 header .content-slide-show .title {
  font-size: 57px;
  margin-top: 10px;
  text-align: left !important;
}
.type-1287 header .content-slide-show .content {
  width: 65%;
  text-align: left;
  margin-top: 15px;
}
.type-1287 header .swiper-pagination {
  padding-top: 30px;
  padding-bottom: 20px;
  bottom: 0px !important;
}
.type-1287 header .swiper-pagination .swiper-pagination-bullet {
  height: 7px;
  width: 40px;
  background: transparent;
  border: 2px #fff solid;
  border-radius: 3px;
}
.type-1287 header .swiper-pagination .swiper-pagination-bullet-active {
  background: #fff !important;
}
@media (max-width: 1200px) {
  .type-1287 .right {
    width: 72%;
    height: 342px;
  }
}
@media (max-width: 950px) and (min-width: 700px) {
  .type-1287 .right {
    width: 100%;
    height: 342px;
  }
}
@media (max-width: 700px) and (min-width: 600px) {
  .type-1287 .right {
    width: 100%;
    height: 315px;
  }
  .type-1287 .left-column {
    padding: 50px 50px 60px;
  }
}
@media (max-width: 600px) and (min-width: 400px) {
  .type-1287 .right {
    width: 100%;
    height: 300px;
  }
  .type-1287 .left-column {
    padding: 40px 30px 40px;
  }
}
